API_ID=replace_with_new_api_id
API_HASH=replace_with_new_api_hash
BOT_TOKEN=replace_with_new_bot_token
ADMIN_ID=1286239869
STRING_SESSION=replace_with_new_pyrogram_string_session
STAGING_CHAT_ID=-1002874453829
FORCE_SUB_CHANNEL=@KBCREBOT
LOG_CHANNEL_ID=-1002874453829
DATABASE_URL=replace_with_new_mongodb_url
DATABASE_NAME=cluster0
START_PIC=https://graph.org/file/ad48ac09b1e6f30d2dae4.jpg
WORK_DIR=/tmp/renamer
MAX_CONCURRENT_JOBS=1
